.mixin.out
Antarchy-Modpack
blueprints
crash-reports
debug
defaultconfigs
disabledmods
downloads
essential
jarmods
local
logs
mimicked
moddata
patchouli_books
resourcepacks
saves
screenshots
shaderpacks
xaero
XaeroWaypoints_BACKUP240807
.gitignore.txt
command_history.txt
imgui.ini
instance.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
servers.essential.dat
AntArchy 1.0.0.mrpack
