/.cache/resourcefullib
/.local
/.mixin.out
archive-2026-08-14T111138Z.tar.gz
/auto_restart
/automodpack/.private
/blueprints
/colonyweb
/config
/crash-reports
/debug
*.log
*.log
/libraries
/logs
/mimicked
mods/admin_chunk_manager-2.0.0.jar
mods/commandsafety-1.1.0+1.20.4-neoforge.jar
mods/client_audit-1.jar
mods/twitchannouncer-1.0.0.jar
mods/vcadmin-1.jar
modtools/modtools.db-wal
modtools/modtools.db-shm
modtools/modtools.db
/resourcepacks
/xaero
/world
mods/worldedit-mod-7.3.8.jar
usercache.json
usernamecache.json
